{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>

  {% include "_includes/site/your-visit/menu" %}

  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 medium-10 cell text-center">
      {{ entry.description }}
    </div>
  </div>


  <form method="post" action="" accept-charset="UTF-8">
      {{ csrfInput() }}

      <input type="hidden" name="action" value="contact-form/send">
      {{ redirectInput('your-visit/thanks') }}

      <input id="honeypot" name="honeypot" type="text">

      <div class="grid-x grid-padding-x grid-padding-y margin-top-2">
        <div class="small-12 cell text-center">
          <div class="section-header">About You</div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 cell">
          <label>Title
            <input type="text" name="message[Title]" value="">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Your Name
            <input type="text" name="fromName" value="{{ message.fromName ?? '' }}">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Email
            <input type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Phone Number
            <input type="tel" name="message[Phone]" value="">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Country
            <input type="text" name="message[Country]" value="">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Age
            <input type="number" name="message[Age]">
          </label>
        </div>
      </div>

      <div class="grid-x grid-padding-x grid-padding-y margin-top-2">
          <div class="small-12 cell text-center">
            <div class="section-header">Your Visit</div>
          </div>
        </div>

      <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 cell">
          <label>I'll be in London on
            <input type="text" name="message[Arriving]">
          </label>
        </div>
        <div class="small-12 medium-6 cell">
          <label>Length of stay
            <input type="text" name="message[Length of Stay]">
          </label>
        </div>

        <div class="small-12 medium-6 cell">
          <label>Visiting On
            <select name="message[Visiting On][]">
              <option value="Business">Business</option>
              <option value="Vacation">Vacation</option>
            </select>
          </label>
        </div>

        <div class="small-12 medium-6 cell">
          <label>Travelling Style
            <select name="message[Style][]">
              <option value="Authentic / Local">Authentic / Local</option>
              <option value="Stylish / Hip">Stylish / Hip</option>
              <option value="Luxury">Luxury</option>
              <option value="Explorer / Off-beat">Explorer / Off-beat</option>
            </select>
          </label>
        </div>


      </div>

      <div class="grid-x grid-padding-x grid-padding-y margin-top-2">
        <div class="small-12 cell text-center">
          <div class="section-header">I'm interested in</div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <fieldset class="small-12 cell text-center">
          <input id="checkbox1" type="checkbox" name="message[Interests][]" value="Fashion - Classic"><label for="checkbox1">Fashion - Classic</label>
          <input id="checkbox2" type="checkbox" name="message[Interests][]" value="Fashion - Forward"><label for="checkbox2">Fashion - Forward</label>
          <input id="checkbox3" type="checkbox" name="message[Interests][]" value="Art"><label for="checkbox3">Art</label>
          <input id="checkbox3" type="checkbox" name="message[Interests][]" value="Antiques"><label for="checkbox3">Antiques</label>
        </fieldset>
      </div>
      
      <div class="grid-x grid-padding-x">
      <div class="small-12 medium-12 cell">
        <label>Message
          <textarea rows="12" name="message[body]" placeholder="Message">{{ message.message.body ?? '' }}</textarea>
        </label>
      </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 cell">
        <input type="submit" class="button expanded" value="Send">
        </div>
      </div>



  </form>

</div>

{% endblock %}