{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>

  {% include "_includes/site/your-visit/menu" %}

  <div class="grid-x grid-padding-x padding-bottom-1 align-center">
    <div class="small-12 medium-10 cell text-center">
      <h6 class="sans-regular dark-gray">{{entry.description}}</h6>
    </div>
  </div>


  <!-- Details -->
  <div class="grid-x grid-padding-x grid-padding-y">
      {% for matrixBlock in entry.details %}
      <div class="small-12 medium-6 cell padding-bottom-1 text-center">
        <h4>{{ matrixBlock.header }}</h4>
        {{ matrixBlock.text | markdown }}
      </div>
      {% endfor %}
  </div>
  <!-- End Details -->

  <div class="grid-x grid-padding-x padding-top-3 align-center">
    <div class="small-12 medium-10 cell text-center">
      {{ entry.legal }}
    </div>
  </div>

</div>

{% endblock %}