{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description |striptags|slice(0, 120) %}
{% set asset = entry.image.first() %}
{% set image = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}

{% block head_map %}
<!-- Mapbox -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<!-- Hero -->
{% set image = entry.image.first() %}
<div class="image--explore align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
  <div class="grid-y height-100 align-center content">
    <div class="shrink cell text-center padding-3">

      <h1 class="hero white">{{entry.title}}</h1>
      <div class="white">{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</div>
      <div class="padding-vertical-1">{% include "_includes/blocks/tags" %}</div>

    </div>
  </div>

  <div class="grid-y grid-padding-x height-100 align-right scrollarrow">
    <div class="shrink cell">
    
      <div class="grid-x padding-vertical-2">
        <div class="small-12 cell text-center white">
        <a data-scroll href="#page__content"><svg class="icon icon-arrow-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-down"></use></svg></a>
        </div>
      </div>
    
    </div>
  </div>

</div>
<!-- End Hero -->

<!-- About -->
<div class="grid-container padding-top-2" id="page__content">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="serif-bold text-uppercase letter-spacing--loose black">About {{entry.title}}</div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
    {{entry.description}}
    </div>
  </div>
</div>
<!-- End About -->

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-12 cell">
      <div id="map" style="width: 100%; height: 50vh;"></div>
    </div>
  </div>
</div>


{% set order = craft.request.getParam('order', 'title asc')  %}
{% set entries = entry.directory %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-4">
  {% for entry in entries %}
    {% include "_includes/blocks/explore" %}
  {% endfor %}
  </div>
</div>

{% js %}
{% include "_includes/scripts/map--street" %}
{% endjs %}


{% endblock %}