{% extends "_layouts/site" %}

{% block head_map %}
<!-- Mapbox -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<!-- Hero -->
<div class="grid-x">
  <div class="small-12 cell text-center">

    {% set image = entry.image.first() %}
    <div class="image--explore align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
      <div class="grid-y height-100 align-center content">
        <div class="shrink cell text-center padding-3">

          <h1 class="hero white">{{entry.title}}</h1>
          <div class="white">{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</div>
          <div class="padding-vertical-1">{% include "_includes/blocks/tags" %}</div>

        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Hero -->

<!-- About -->
<div class="grid-container padding-top-2">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="serif-bold text-uppercase letter-spacing--loose black">About {{entry.title}}</div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
    {{entry.description}}
    </div>
  </div>
</div>
<!-- End About -->

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-12 cell">
      <div id="map" style="width: 100%; height: 50vh;"></div>
    </div>
  </div>
</div>


{% set order = craft.request.getParam('order', 'title asc')  %}
{% set entries = entry.directory %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-4">
  {% for entry in entries %}
    {% include "_includes/blocks/explore" %}
  {% endfor %}
  </div>
</div>

{% js %}
{% include "_includes/scripts/map--street" %}
{% endjs %}


{% endblock %}