<div class="grid-x grid-padding-x grid-padding-y">

  <div class="small-12 medium-6 cell small-order-1 {% if loop.index is even %}medium-order-2{% endif %}">
    <div class="excerpt">
    
      <!-- Tags -->
      <div class="tags">
        {% if entry.tags|length %}
          {% for tag in entry.tags %}
            <a class="button tiny sans-bold text-uppercase margin-bottom-0" href="{{ siteUrl }}tags/{{ tag.title | kebab }}">{{ tag.title }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <!-- End Tags -->
      
      <!-- Image and Text -->
      <a href="{{ entry.url}}" class="">
        {% set image = entry.image.one() %}
        <div class="image--default" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-4-cell" %}"{% endif %}>
          <div class="content"></div>
        </div>  
      </a>
      <!-- End Image and Text -->
    
    </div>
  </div>


  <div class="small-12 medium-6 cell small-order-2 {% if loop.index is even %}medium-order-1{% endif %}">
    <div class="excerpt">
    <a href="{{ entry.url}}">
    <h5 class="medium-gray">{{ entry.start|date("j F")}} — {{ entry.end|date("j F")}}</h5>
    <h4>{{ entry.title}}</h4>
    <p>{{ entry.description |striptags|slice(0,100)|default('Read more') }}...</p>
    <div class="read-more">Learn More <svg class="icon icon-plus"><use xlink:href="/assets/icons/symbol-defs.svg#icon-plus"></use></svg></div>
    </a>
    </div>
  </div>

</div>