<div class="cell" data-aos="fade-in">
  <div class="excerpt">
  
    <!-- Tags -->
    <div class="tags">
      {% include "_includes/blocks/tags" %}
    </div>
    <!-- End Tags -->
    
    <!-- Image and Text -->
    <a {% if entry.noLink %}href="#" onclick="return false;"{% else %}href="{{ entry.url}}"{% endif %}>
    
      {% set image = entry.image.one() %}
      <div class="image--square" {% if image %}data-interchange="{% include "_includes/images/contained/5-4/interchange-img-small-12-medium-4" %}"{% endif %}>
        <div class="content"></div>
      </div>
    
      <div class="margin-top-1">
<h5 class="medium-gray">{{ entry.eventStart|date("j F")}} — {{ entry.eventEnd|date("j F")}}</h5>
      <h4>{{ entry.title}}</h4>
      <p>{{ entry.description |striptags|slice(0,100)|default('Read more') }}...</p>
      {% if not entry.noLink %}
      <div class="read-more">{% if entry.customMoreText|length %}{{ entry.customMoreText }}{% else %}Learn More{% endif %} <svg class="icon icon-plus"><use xlink:href="/assets/icons/symbol-defs.svg#icon-plus"></use></svg></div>
      {% endif %}
      </div>
    
    </a>
    <!-- End Image and Text -->
  
  </div>
</div>