<div class="cell filter-simple-item letter-{{ entry.title|slice(0, 1)|replace("/[^a-zA-Z]/", "0-9") | lower}}">
  <div class="excerpt">
  
    <!-- Tags -->
{#
    <div class="tags">
      {% include "_includes/blocks/tags" %}
    </div>
#}
    <!-- End Tags -->
    
    <!-- Image and Text -->
    <a href="{{ entry.url}}" class="">
    
      {% set image = entry.thumb.one() ?? entry.image.one() %}
      <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-4" %}"{% endif %}>
        <div class="content"></div>
      </div>
    
      <div class="margin-top-1">
      <h4>{{ entry.title}}</h4>
      <p>{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</p>
      <div class="read-more show-for-medium">Learn More <svg class="icon icon-plus"><use xlink:href="/assets/icons/symbol-defs.svg#icon-plus"></use></svg></div>
      </div>
    
    </a>
    <!-- End Image and Text -->
  
  </div>
</div>