{% for matrixBlock in entry.article.all() %}
{% switch matrixBlock.type %}
    
    {% case "text" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
        {{ matrixBlock.text | markdown }}
      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 medium-8 cell">
        {{ matrixBlock.text | markdown }}
      </div>
    </div>
    {% endif %}
    
    {% case "heading" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
        {{ matrixBlock.heading | markdown }}
      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 medium-9 cell">
        {{ matrixBlock.heading | markdown }}
      </div>
    </div>
    {% endif %}

    {% case "quote" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
        <blockquote>
          <h3>{{ matrixBlock.quote| markdown }}</h3>
          <cite>{{ matrixBlock.cite| markdown }}</cite>
        </blockquote>

      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 medium-9 cell">
        <blockquote>
          <h3>{{ matrixBlock.quote| markdown }}</h3>
          <cite>{{ matrixBlock.cite| markdown }}</cite>
        </blockquote>
      </div>
    </div>
    {% endif %}
    
    
    {% case "image" %}
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
       <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
       {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% else %}medium-10{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
      <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
      {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    {% endif %}
    
    
    {% case "portraitPair" %}
    {% if matrixBlock.position == 'left' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-8 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
    {% elseif matrixBlock.position == 'center' %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
    {% elseif matrixBlock.position == 'right' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-8 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
    {% endif %}


    {% case "portraitTrio" %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-4 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-6-cell" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-4 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-6-cell" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>

      <div class="small-12 medium-4 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[2] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-6-cell" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
  
    
    {% case "video" %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-10 cell">

      {% set image = matrixBlock.image.one() %}
      <div class="image--panorama" {% if image %}data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}"{% endif %}>
        <div class="grid-y height-100 align-center content">
            <div class="shrink cell text-center text-lowercase padding-2" id="video-gallery">
              <a href="{{ matrixBlock.embed }}">
                <h1 class="white"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></h1>
                <div class="white sans-bold text-uppercase tiny">Play Video</div>
              </a>
            </div>
        </div>
      </div>
    
      <div class="margin-top-1 text-center">
      {% if matrixBlock.header %}
      <h4>{{ matrixBlock.header }}</h4>
      {% endif %}
      {% if matrixBlock.subheader %}
      <p>{{ matrixBlock.subheader }}</p>
      {% endif %}
      </div>

      </div>
    </div>

    {% case "carousel" %}

    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
      
        <div class="swiper-container carousel--matrix">
          <div class="swiper-wrapper padding-vertical-1">
            {% for image in matrixBlock.images %}
            <div class="swiper-slide">
              <img data-interchange="[{{images.domain}}{{ image.filename }}?h=400&fit=crop&ch=dpr&cs=tinysrgb&dpr=2&format=compress}}, xxlarge-retina]">
            </div>
            {% endfor %}
          </div>
    
          <!-- Carousel Navigation -->
          <div class="grid-x grid-padding-x grid-padding-y align-justify">
            <div class="shrink cell">
              <ul class="menu">
                <li class="test-prev menu-text"><svg class="icon icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></li>
                <li class="test-next menu-text"><svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></li>
              </ul>
            </div>
          </div>
          <!-- End Carousel Navigation -->
        </div>
      
      </div>
    </div>
    <!-- End Carousel -->
    
{% endswitch %}
{% endfor %}