<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center show-for-large">
      
      <div class="cell medium-auto">
        <ul class="vertical menu text-center">
          <li class="small sans-bold text-uppercase letter-spacing--loose">Explore</li>
            {% nav category in craft.categories.group('explore') %}
              <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose">{{ category.title }}</a></li>
            {% endnav %}
        </ul>
      </div>
      
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li class="small sans-bold text-uppercase letter-spacing--loose">Events</li>
            {% nav category in craft.categories.group('events') %}
              <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose">{{ category.title }}</a></li>
            {% endnav %}
        </ul>
      </div>
      
  
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li class="small sans-bold text-uppercase letter-spacing--loose">Articles</li>
            {% nav category in craft.categories.group('articles') %}
              <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose">{{ category.title }}</a></li>
            {% endnav %}
        </ul>
      </div>
  
      
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li class="small sans-bold text-uppercase letter-spacing--loose">Your Visit</li>
          <li><a href="/your-visit/" class="small sans-bold text-uppercase letter-spacing--loose">History</a></li>
          <li><a href="/your-visit/" class="small sans-bold text-uppercase letter-spacing--loose">By Appointment</a></li>
        </ul>
      </div>
      
  </div>
</div>