{% set navigationexplore = {
  "explore/shops":    { title: "Shops" },
  "explore/hotels":    { title: "Hotels" },
  "explore/restaurants-and-bars":    { title: "Restaurants and Bars" },
  "explore/galleries-and-culture":    { title: "Galleries and Culture" },
  "explore/services":    { title: "Services" },
} %}

{% set eventsmenu = {
  "events/now":    { title: "Now" },
  "events/next-month":    { title: "Next Month" },
  "events/after-that":    { title: "After That" },
  "events/archive":    { title: "Archive" },
} %}

{% set journalmenu = {
  "recipes":    { title: "Recipes" },
  "events":    { title: "Events" },
  "news":    { title: "News" },
} %}

{% set infomenu = {
  "contact":    { title: "Contact" },
  "delivery-faqs":    { title: "Delivery / FAQs" },
  "terms-and-conditions":   { title: "Terms and Conditions" },
  "privacy-policy":    { title: "Privacy Policy" },
} %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center show-for-large">
      
      <div class="cell medium-auto">
        <ul class="vertical menu text-center">
          <li class="menu-text text-uppercase">Explore</li>
          {% for slug, item in navigationexplore %}
            <li><a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="active"{% endif %}>{{ item.title }}</a></li>
  			  {% endfor %}
        </ul>
      </div>
      
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li class="menu-text text-uppercase">Events</li>
          {% for slug, item in eventsmenu %}
            <li><a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="active"{% endif %}>{{ item.title }}</a></li>
  			  {% endfor %}
        </ul>
      </div>
      
  
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li class="menu-text">Journal</li>
          {% for slug, item in journalmenu %}
            <li><a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="active"{% endif %}>{{ item.title }}</a></li>
  			  {% endfor %}
        </ul>
      </div>
  
      
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li class="menu-text">Info</li>
          {% for slug, item in infomenu %}
            <li><a href="{{ url(slug) }}" {% if craft.request.firstSegment == slug %}class="active"{% endif %}>{{ item.title }}</a></li>
  			  {% endfor %}
        </ul>
      </div>
      
  </div>
</div>