{% extends "_layouts/site" %}

{% block main %}

<!-- Hero -->
{% set image = entry.image.one() %}
<div class="image--hero align-center-middle viewheight" {% if not entry.videoBackground | length %}data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}{% endif %}">

  <div class="grid-y grid-padding-x height-100 align-center content" data-aos="fade-in">
    <div class="shrink cell">

      <div class="grid-x padding-vertical-3">
        <div class="small-12 cell text-center white">
        <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
        {% if entry.description | length %}
        <h5 class="sans-regular white padding-vertical-2">{{ entry.description }}</h5>
        {% endif %}
        </div>
      </div>

    </div>

    {% include "_includes/blocks/scroll" %}

  </div>

  {% if entry.videoBackground | length %}
    {% set video = entry.videoBackground.first() %}
    <video playsinline autoplay muted loop class="video" poster="{{images.domain}}{{ image.filename }}">
      <source src="http://storage.googleapis.com/bond-street/{{ video.filename }}" type="video/mp4">
    </video>
  {% endif %}

<!--
  <div class="grid-y grid-padding-x height-100 align-right scrollarrow content" data-aos="fade-in">
    <div class="shrink cell">

      <div class="grid-x padding-vertical-2">
        <div class="small-12 cell text-center white">
        <a data-scroll href="#page__content"><svg class="icon icon-arrow-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-down"></use></svg></a>
        </div>
      </div>

    </div>
  </div>
-->

</div>
<!-- End Hero -->

<!-- Articles and Events -->
<div class="grid-container" id="page__content">

<!-- Articles -->
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2" data-aos="fade-in">
    <div class="small-12 cell text-center">
      <div class="section-header">Recent Articles</div>
    </div>
  </div>

  {% for block in entry.articleMatrix.all() %}
  {% switch block.type %}

  {% case "small" %}
  {% set entries = block.entries %}
  
  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-4">
      {% for entry in entries %}
        {% include "_includes/blocks/article" %}
      {% endfor %}
    </div>
  {% endif %}

  {% case "medium" %}
  {% set entries = block.entries %}

  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3">
      {% for entry in entries %}
        {% include "_includes/blocks/article" %}
      {% endfor %}
    </div>
  {% endif %}

  {% case "large" %}
  {% set entries = block.entries %}

  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      {% for entry in entries.all() %}
        {% include "_includes/blocks/article" %}
      {% endfor %}
    </div>
  {% endif %}

  {% case "featured" %}
  {% set entries = block.entries %}

  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      {% for entry in entries.all() %}
        {% include "_includes/blocks/feature" %}
      {% endfor %}
    </div>
  {% endif %}

{% endswitch %}
{% endfor %}
<!-- End Articles -->

<!-- Upcoming Events -->
  {% set entries = entry.events.all() %}
  {% if entries|length %}
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2" data-aos="fade-in">
    <div class="small-12 cell text-center">
      <div class="section-header">Upcoming Events</div>
    </div>
  </div>

  {% for entry in entries %}
    {% include "_includes/blocks/event" %}
  {% endfor %}

  <div class="grid-x grid-padding-x grid-padding-y align-center" data-aos="fade-in">
    <div class="small-12 medium-4 cell text-center">
      <a href="{{ siteUrl }}events" class="button primary expanded">
       <div class="grid-x align-justify align-middle">
        <div class="shrink cell text-uppercase sans-bold tiny">
          View All Events
        </div>
        <div class="shrink cell">
        <svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
        </div>
       </div>
      </a>
    </div>
  </div>

{% endif %}
<!-- End Upcoming Events -->

</div>
<!-- End Articles and Events -->

<!-- Instagram -->
<div class="grid-x grid-padding-x grid-padding-y margin-top-2" data-aos="fade-in">
  <div class="small-12 cell text-center">
    <div class="section-header">Instagram</div>
  </div>
</div>

<div class="grid-x">
  <div class="small-12 cell">
  
  <div class="swiper-container carousel--instagram">
    <div class="swiper-wrapper">
      {% set entries = craft.instagram.getFeed() %}
      {% for entry in entries %}
      <div class="cell swiper-slide">
          
          <!-- Image and Text -->
          <a href="https://www.instagram.com/p/{{ entry.shortcode }}/" target="_blank">
            <div class="image--square" data-interchange="[{{ entry.src }}, small], [{{ entry.src }}, medium], [{{ entry.src }}, large]">
              <div class="content"></div>
            </div> 
          </a>
          <!-- End Image and Text -->
        
      </div>
      {% endfor %}
    </div>
  
  <div class="grid-x grid-padding-x grid-padding-y align-justify align-middle">
  
    <div class="shrink cell">
      <ul class="menu">
        <li class="test-prev menu-text"><svg class="icon icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></li>
        <li class="test-next menu-text"><svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></li>
      </ul>
    </div>
  
    <div class="shrink cell align-middle">
      <a href="https://www.instagram.com/bondstreet/" target="_blank"><svg class="icon icon-instagram" style="vertical-align: text-bottom;"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg><spam class="padding-left-1 text-uppercase sans-bold tiny">Follow Us</span></a>
    </div>
  
  </div>
  </div>
  
  </div>
</div>
<!-- End Instagram -->

{% set qrCode = entry.qrCode.one() %}
{% if qrCode|length %}
<div class="grid-container">
  <div class="grid-x grid-padding-x align-center">
    <div class="small-10 medium-3 large-3 cell text-center">
    <div class="small sans-bold text-uppercase letter-spacing--loose black margin-bottom-1">Wechat</div>
    {% set image = qrCode %}
    <div class="image--square" data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-4" %}"></div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}