{% set primaryNav = navigation.primaryNavigation %}
{% set children = {} %}

{% for item in primaryNav %}
    {% set targetArray = {} %}

    {% if item.level2 %}
        {% if attribute(children, lastKnownTopLevelItem) is not defined %}
            {% set children = children|merge({(lastKnownTopLevelItem): [item]}) %}
        {% else %}
            {% set targetArray = attribute(children, lastKnownTopLevelItem) %}
            {% set targetArray = targetArray|merge([item]) %}
            {% set children = children|merge({(lastKnownTopLevelItem): targetArray}) %}
        {% endif %}
    {% endif %}

    {# make a note of the loop index of the last known top level item... #}
    {% if not item.level2 %}
        {% set lastKnownTopLevelItem = 'children-of-' ~ loop.index %}
    {% endif %}
{% endfor %}


{% set entry = entry is defined ? entry : null %}
{% set category = category is defined ? category : null %}
<div class="grid-x grid-padding-x align-justify navigation {% if entry.type is defined and (entry.type == 'home' or entry.type == 'explore' or entry.type == 'street') %} navigation--light{% endif %}">
  <div class="shrink cell navigation__left">

    <div class="hide-for-large"><button data-toggle="offCanvasMenu" class="button clear navigation"><svg class="icon icon-menu"><use xlink:href="/assets/icons/symbol-defs.svg#icon-menu"></use></svg></button></div>

    <ul class="dropdown menu show-for-large" data-dropdown-menu>
      <li class="margin-right-1{% if craft.app.request.absoluteUrl  == siteUrl %} active {% endif %}"><a href="{{ siteUrl }}">Home</a></li>
    {% for item in primaryNav %}
        {% if not item.level2 %}

            {% set childrenOfThisItem = attribute(children,'children-of-' ~ loop.index) ?? {} %}

            {% if childrenOfThisItem|length %}
                <li class="is-dropdown-submenu-parent margin-horizontal-1{% if item.link == craft.app.request.segments|first %} active {% endif %}">
                    <a href="{{ siteUrl }}{{ item.link }}">{{ item.label }}</a>
                    <ul class="menu vertical">
                        {% for child in childrenOfThisItem %}
                            <li><a href="{{ siteUrl }}{{ child.link }}">{{ child.label }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li {% if item.link == craft.app.request.segments|first %}class="active" {% endif %}><a href="{{ siteUrl }}{{ item.link }}">{{ item.label }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="shrink cell navigation__right">
    
    <div class="hide-for-xlarge"><button data-toggle="offCanvasSearch" class="button clear navigation"><svg class="icon icon-search"><use xlink:href="/assets/icons/symbol-defs.svg#icon-search"></use></svg></button></div>

    <ul class="menu show-for-xlarge align-middle">
      <li class="margin-right-2"><button data-toggle="offCanvasSearch" class="button clear navigation">Search<svg class="icon icon-search"><use xlink:href="/assets/icons/symbol-defs.svg#icon-search"></use></svg></button></li>

      {% for block in social.socials.all() %}
      {% switch block.type %}
      
        {% case "facebook" %}
      
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      
        {% case "instagram" %}
        
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      
        {% case "twitter" %}
        
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      
        {% case "youtube" %}
        
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-youtube"><use xlink:href="/assets/icons/symbol-defs.svg#icon-youtube"></use></svg></a></li>
      
      {% endswitch %}
      {% endfor %}

    </ul>

  </div>
</div>

