{% extends "_layouts/site" %}

{% block main %}

<!-- Hero -->
<div class="grid-x">
  <div class="small-12 cell text-center">

    {% set image = entry.image.first() %}
    <div class="image--hero align-center-middle"  data-interchange="[https://bond-street.imgix.net/{{ image.filename }}, small], [https://bond-street.imgix.net/{{ image.filename }}, medium], [https://bond-street.imgix.net/{{ image.filename }}, large]">

      <div class="grid-y height-100 align-center content">
        <div class="shrink cell text-center">
          <h1 class="white">{{entry.title}}</h1>
          <div class="white">{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Hero -->

<!-- About -->
<div class="grid-container padding-vertical-2">

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">About</div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
    {{entry.body}}
    </div>
  </div>

</div>
<!-- End About -->

<!-- Details -->
<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">Details</div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y"> 
    <div class="small-12 medium-6 cell">
    <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Opening Hours</div>
    {% for day in entry.openingHours %}
      <div class="grid-x grid-padding-x">
        <div class="small-6 cell">
        {{ day.name }}
        </div>
        <div class="small-6 cell">
        {% if day.isBlank %}Closed{% else %}{{ day.open|time('short') }} - {{ day.close|time('short')}}{% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="padding-vertical-1"> 
      <button type="button" class="expanded button hollow">Open Now</button>
      <button type="button" class="expanded button hollow">Request a Booking</button>
    </div>

    </div>

    <div class="small-12 medium-6 cell">
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
    
    <div id="map" style="width: 100%; height: 300px;"></div>
    <script>
    mapboxgl.accessToken = "{{ craft.maps.mapToken }}";
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v9",
      zoom: 14,
      center: [
        {{ entry.location.lng }},
        {{ entry.location.lat }}
      ]
    });
    </script>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-4 cell text-center">
      <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Address</div>
      {{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}
    </div>
    <div class="small-12 medium-4 cell text-center">
      <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Contact</div>
      {{ entry.email }}
    </div>
    <div class="small-12 medium-4 cell text-center">
      <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Socials</div>
      <ul class="menu align-center">
      <li><a href="" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      </ul>
    </div>
  </div>

</div>
<!-- End Details -->

<!-- Services -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">Services</div>
    </div>
  </div>
</div>
<!-- End Services -->

{% endblock %}