{% extends "_layouts/site" %}

{% block main %}

<!-- Hero -->
<div class="grid-x">
  <div class="small-12 cell text-center">

    {% set image = entry.image.first() %}
    <div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}">
      <div class="grid-y height-100 align-center content">
        <div class="shrink cell text-center">
          <h1 class="hero white">{{entry.title}}</h1>
          <div class="white">{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Hero -->

<!-- About -->
<div class="grid-container padding-vertical-2">

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">About</div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
    {{entry.body}}
    </div>
  </div>

</div>
<!-- End About -->

<!-- Details -->
<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">Details</div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y"> 
    <div class="small-12 medium-6 cell">
    <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Opening Hours</div>
    {% for day in entry.openingHours %}
      <div class="grid-x grid-padding-x align-justify">
        <div class="small-6 cell">
        {{ day.name }}
        </div>
        <div class="shrink cell">
        {% if day.isBlank %}Closed{% else %}{{ day.open|time('short') }} - {{ day.close|time('short')}}{% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="padding-vertical-1"> 
      <button type="button" class="expanded button hollow">Open Now</button>
      <button type="button" class="expanded button hollow">Request a Booking</button>
    </div>

    </div>

    <div class="small-12 medium-6 cell">
    <div id="map" style="width: 100%; height: 300px;"></div>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-4 cell text-center">
      <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Address</div>
      {{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}
    </div>
    <div class="small-12 medium-4 cell text-center">
      <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Contact</div>
      {{ entry.email }}
    </div>
    
    {% if entry.socials|length %}
    <div class="small-12 medium-4 cell text-center">
      <div class="small sans-bold text-uppercase letter-spacing--loose black padding-bottom-1">Socials</div>
      <ul class="menu align-center">
      {% for block in entry.socials.all() %}
      {% switch block.type %}
      
        {% case "facebook" %}
      
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      
        {% case "instagram" %}
        
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      
        {% case "twitter" %}
        
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      
        {% case "youtube" %}
        
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-youtube"><use xlink:href="/assets/icons/symbol-defs.svg#icon-youtube"></use></svg></a></li>
      
      {% endswitch %}
      {% endfor %}
      </ul>
    </div>
    {% endif %} 

  </div>

</div>
<!-- End Details -->

<!-- Services -->
{% if entry.services|length %}
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">Services</div>
        <ul class="menu align-center padding-vertical-1">
          {% for row in entry.services %}
            <li class="menu-text">{{ row.service }}</li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endif %}
<!-- End Services -->

<!-- Recent Articles -->
{% set entries = craft.entries
.section('articles')
.all() %}

{% if entries|length %}
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
    {% for entry in entries %}
      {% include "_includes/blocks/article" %}
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- End Recent Articles -->

{% js %}
{% include "_includes/scripts/map--explore" %}
{% endjs %}

{% endblock %}