{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <h1>Use the interactive map to explore Bond Street</h1>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <ul class="menu align-center">
        {% nav category in craft.categories.group('explore') %}
          <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose ">{{ category.title }}</a></li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>

{% set entries = craft.entries
.section('explore')
.all() %}

<div id="map" style="width: 100%; height: 50vh;"></div>

<script>
mapboxgl.accessToken = "{{ craft.maps.mapToken }}";
 
/* Map: This represents the map on the page. */
var map = new mapboxgl.Map({
container: "map",
style: "mapbox:///garethjohnsdesign/cju1g1emy19yu1fn0odqdxir1",
zoom: 14,
center: [
-0.144,51.512
],
});

map.addControl(new mapboxgl.NavigationControl());
 
map.on("load", function () {
/* Image: An image is loaded and added to the map. */
map.loadImage("https://i.imgur.com/MK4NUzI.png", function(error, image) {
if (error) throw error;
map.addImage("custom-marker", image);
/* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
map.addLayer({
id: "markers",
type: "symbol",
/* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
source: {
type: "geojson",
data: {
type: 'FeatureCollection',
features: [

{% for entry in entries %}
{
type: 'Feature',
properties: {},
geometry: {
type: "Point",
coordinates: [{{ entry.location.lng }}, {{ entry.location.lat }}]
}
},
{% endfor %}
]


}
},
layout: {
  'icon-image': 'shop-15',
  'icon-allow-overlap': true,
}
});
});
});
</script>


<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
  {% for entry in entries %}
    {% include "_includes/blocks/excerpt--explore" %}
  {% endfor %}
  </div>
</div>

{% endblock %}