{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <h1>Use the interactive map to explore Bond Street</h1>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <ul class="menu align-center">
        {% nav category in craft.categories.group('explore') %}
          <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose ">{{ category.title }}</a></li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>

{% set entries = craft.entries.section('explore').all() %}

<div class="grid-y medium-grid-frame margin-vertical-2">
  <div class="small-12 cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-shrink cell medium-cell-block-y">
        <ul class="menu vertical">
           {% for entry in entries %}
           <li>
           <a href="{{ entry.url}}" class="map-entry">
              <h5>{{ entry.title}}</h5>
              {{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}
           </a>
           </li>
           {% endfor %}
        </ul>
      </div>
      <div class="small-12 medium-auto cell medium-cell-block-y">
      <div id="map" style="width: 100%; height: 75vh;">
      </div>
      </div>
    </ul>
    </div>
  </div>
</div>


<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
  {% for entry in entries %}
    {% include "_includes/blocks/explore" %}
  {% endfor %}
  </div>
</div>

{% js %}
{% include "_includes/scripts/map" %}
{% endjs %}

{% endblock %}