{% extends "_layouts/site" %}

{% set title = "Explore" %}
{% set description = "Use the interactive map to explore Bond Street" %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-6 cell text-center">
      <h1>Use the interactive map to explore Bond Street</h1>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <ul class="menu align-center explore-categories">
        <li class="active"><a href="/explore" class="small sans-bold text-uppercase letter-spacing--loose">All</a></li>
        {% nav category in craft.categories.group('explore') %}
          <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose">{{ category.title }}</a></li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>


{% set order = craft.request.getParam('order', 'title asc')  %}
{% set entries = craft.entries.section('explore').order(order) %}

<!-- Map -->
<div class="grid-y medium-grid-frame margin-vertical-2">
  <div class="small-12 cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x medium-padding-collapse">
      <div class="small-12 medium-4 large-3 cell medium-cell-block-y white-background-colour">

        <div class="show-for-small-only">
        <label>
          <select name="select-location" onchange="location = this.value;">
           <option value="">Directory</option>
           {% for entry in entries %}
           <option value="{{ entry.url}}">{{ entry.title}}</option>
           {% endfor %}
          </select>
        </label>
        </div>
        
        <div class="show-for-medium">
          <div class="grid-x primary-background-colour">
            <div class="small-12 cell padding-1">
            <h5 class="margin-bottom-0">Directory</h5>
              <ul class="menu simple padding-top-1">
                <li><a class="filter-simple-button tiny sans-bold text-uppercase letter-spacing--loose" data-filter="title asc">A-Z</a></li>
                <li><a class="filter-simple-button tiny sans-bold text-uppercase letter-spacing--loose" data-filter="title desc">Z-A</a></li>
                <li><a class="filter-simple-button tiny sans-bold text-uppercase letter-spacing--loose" data-filter="lft asc">Most Popular</a></li>
              </ul>
            </div>
          </div>

         {% for entry in entries %}
         <div id="{{ entry.title | kebab}}" data-coordinates="{{ entry.location.lng }}, {{ entry.location.lat }}">
         <a href="{{ entry.url}}" class="map-entry">
          <h4>{{ entry.title }}</h4>
          <div class="text-uppercase tiny dark-gray">{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</div>
         </a>
         </div>
         {% endfor %}
        </div>

      </div>
      <div class="small-12 medium-auto cell medium-cell-block-y">
      <div id="map" style="width: 100%; height: 75vh;">
      </div>
      </div>
    </ul>
    </div>
  </div>
</div>
<!-- End Map -->





<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">

    {% set alphabeticalEntries = craft.entries.section('explore').order('title asc') %}
    {% set categoriesGroup = alphabeticalEntries|group('title|slice(0, 
1)|replace("/[^a-zA-Z]/", "0-9") | upper') %}

    <ul class="menu align-center">
    {% for letter, categoriesInGroup in categoriesGroup %}
    <li><a href="">{{ letter }}</a></li>
    {% endfor %}
    </ul>

    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-6 large-shrink cell">
      <ul class="menu">
        <li class="menu-text text-uppercase small sans-bold text-uppercase letter-spacing--loose">Filter</li>
        <li {% if order == 'lft asc' %}class="active"{% endif %}><a class="filter-simple-button small sans-bold text-uppercase letter-spacing--loose active" data-filter="lft asc">Most Popular</a></li>
        <li {% if order == 'title asc' %}class="active"{% endif %}><a class="filter-simple-button small sans-bold text-uppercase letter-spacing--loose" data-filter="title asc">A-Z</a></li>
        <li {% if order == 'title desc' %}class="active"{% endif %}><a class="filter-simple-button small sans-bold text-uppercase letter-spacing--loose" data-filter="title desc">Z-A</a></li>
      </ul>
    </div>
  </div>
</div>



<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-4">
  {% for entry in entries %}
    {% include "_includes/blocks/explore" %}
  {% endfor %}
  </div>
</div>

{% js %}
{% include "_includes/scripts/map" %}
{% endjs %}

{% js %}
$(".filter-simple-button").click(function() {
  var filter = $(this).attr('data-filter');
  
  document.location.href = '{{ craft.request.getUrl() }}?order=' + filter;
});
{% endjs %}

{% endblock %}