{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <h1>Use the interactive map to explore Bond Street</h1>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <ul class="menu align-center">
        {% nav category in craft.categories.group('explore') %}
          <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose ">{{ category.title }}</a></li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>

{% set entries = craft.entries.section('explore').all() %}

<!-- Map -->
<div class="grid-y medium-grid-frame margin-vertical-2">
  <div class="small-12 cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x medium-padding-collapse">
      <div class="small-12 medium-4 large-3 cell medium-cell-block-y">

        <div class="show-for-small-only">
        <label>
          <select name="select-location" onchange="location = this.value;">
           <option value="">Directory</option>
           {% for entry in entries %}
           <option value="{{ entry.url}}">{{ entry.title}}</option>
           {% endfor %}
          </select>
        </label>
        </div>
        
        <div class="show-for-medium">
         {% for entry in entries %}
         <div id="{{ entry.title | kebab}}" data-coordinates="{{ entry.location.lng }}, {{ entry.location.lat }}">
         <a href="{{ entry.url}}" class="map-entry">
            {{ entry.title }}
         </a>
         </div>
         {% endfor %}
        </div>

      </div>
      <div class="small-12 medium-auto cell medium-cell-block-y">
      <div id="map" style="width: 100%; height: 75vh;">
      </div>
      </div>
    </ul>
    </div>
  </div>
</div>
<!-- End Map -->


<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
  {% for entry in entries %}
    {% include "_includes/blocks/explore" %}
  {% endfor %}
  </div>
</div>

{% js %}
{% include "_includes/scripts/map" %}
{% endjs %}

{% endblock %}